<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot= "start" color="secondary"></ion-menu-button>
  </ion-toolbar>
  <div class="ion-text-center">
    <h1>Está tudo muito quieto...</h1>
    <ion-label>Não há planos aqui.</ion-label>
    <br>
    <ion-icon name="remove-outline" color="secondary"></ion-icon>
  </div>
</ion-header>
<br>
<img src="/assets/future.jpg" alt="Logo" />
<div class="ion-text-center">
  <ion-label>Seja bem-vindo ao Future Money.</ion-label>
  <br>
  <br>
  <ion-label>Planeje-se monetariamente para uma boa viagem!</ion-label>
</div>
<br>
<div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin">Criar Plano</ion-button>
</div>

<ion-content>

</ion-content>
