<body>
  <ion-col>
    <div class="ion-text-center">
      <h1>Bom te ver de novo!</h1>
    </div>
  </ion-col>
  <br>
  <br>
  <br>
  <br>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>


  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="/home">Login</ion-button>
  </div>

</body>

