

  <img src="/assets/future.jpg" class="imagem-principal" />

  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input placeholder="Enter text" [(ngModel)]="cpf"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereço</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data de Nascimento</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CEP</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="cadastrar()">Avançar</ion-button>
  </div>
